body {
  font-family: "Segoe UI", sans-serif;
  font-weight: bold;
  background-color: #0A0A0A !important;
  color: #f7f7f7 !important;
  overflow-x: hidden;
}

img {
  width: 100%;
}

h1 {
  margin-bottom: 50px !important;
}

.focus {
  background-color: var(--bs-danger);
}
.shortBreak {
  background-color: var(--bs-success);
}
.longBreak {
  background-color: var(--bs-info);
}