body {
  font-family: sans-serif;
  font-weight: bold;
}

@keyframes rotate {
  from {
    transform: translateZ(-100px) rotateY(0deg);
  }
  to {
    transform: translateZ(-100px) rotateY(360deg);
  }
}

.scene {
  perspective: 600px;
  height: 200px;
  width: 200px;
  margin: 100px auto;
}

.shape {
  width: 200px;
  height: 200px;
  position: relative;
  transform-style: preserve-3d;
  animation: rotate 10s infinite linear;
}

.face {
  position: absolute;
  width: 200px;
  height: 200px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  border: 1px solid black;

  &.front {
    background: hsla(  0, 100%, 50%, 0.5);
    transform: rotateY(0deg) translateZ(100px);
  }
  &.back {
    background: hsla(120, 100%, 50%, 0.5);
    transform: rotateY(180deg) translateZ(100px);
  }
  &.right {
    background: hsla( 60, 100%, 50%, 0.5);
    transform: rotateY(90deg) translateZ(100px);
  }
  &.left {
    background: hsla(180, 100%, 50%, 0.5);
    transform: rotateY(-90deg) translateZ(100px);
  }
  &.top {
    background: hsla(240, 100%, 50%, 0.5);
    transform: rotateX(90deg) translateZ(100px);
  }
  &.bottom {
    background: hsla(300, 100%, 50%, 0.5);
    transform: rotateX(-90deg) translateZ(100px);
  }
}
