.logo {
  width: 100%;
  height: 80vh;

  /* :global {
    #Symbol {
      #Vector,
      #Vector_2,
      #Vector_3 {
        fill-opacity: 1;
      }
      &:hover {
        fill-opacity: 0;
      }
    }
  } */

  path {
    fill-opacity: 0;
    stroke-dasharray: 0, 1000;
    stroke-dasharray: 1000, 0;
    stroke-dasharray: 10, 10;
    transition: all 150ms ease;
  }

  /* &:hover {
    path {
      fill-opacity: 0;
    }
  } */
}
