@use "sass:math";

.section {
  width: 100%;
  height: 100vh;
  padding: 100px;
  display: flex;

  svg {
    width: 100%;
    max-height: 70vh;
  }
}

@keyframes logo-animation {
  0%, 15% {
    stroke-dashoffset: 65%;
    stroke-dasharray: 0 100%;
    fill-opacity: 0;
    stroke-width: 0;
  }

  70% {
    stroke-dashoffset: 25%;
    stroke-dasharray: 100% 0;
    fill-opacity: 0;
    stroke-width: 1;
  }

  85%, 100% {
    stroke-dashoffset: 10%;
    stroke-dasharray: 100% 0;
    fill-opacity: 1;
    stroke-width: 0;
  }
}

.logo, .logo2 {
  path {
    stroke: #d5d5d5;
    /*
    fill-opacity: 1;
    stroke-dasharray: 0 200;
    stroke-width: 0;
    
    transition: all 2s ease;
    
    stroke-dasharray: 200 0;
    fill-opacity: 0;
    stroke-width: 1;
    */

    animation: logo-animation 6s ease-in-out infinite alternate;
  }
}

@mixin stroke-animation($name, $length) {
  @keyframes #{$name} {
    0% {
      stroke-dashoffset: $length;
    }
    25% {
      stroke-dashoffset: $length;
    }
    75% {
      stroke-dashoffset: 0;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
}

$iconPaths: (
  "autonomy": (
    "arrowBody": 42,
    "arrowTip": 12,
    "boxLine": 17,
    "boxMiddle": 62,
    "boxTop": 62,
    "boxBottom": 62,
  ),
  "support": (
    "bubble": 155,
    "star": 60,
  ),
  "delivery": (
    "arrowFletching1": 30,
    "arrowFletching2": 30,
    "arrowShaft": 21,
    "targetInner": 15,
    "targetMiddle": 42,
    "targetOuter": 70,
  ),
  "tailorMade": (
    "penTip": 72,
    "penBase": 40,
    "penLine": 15,
    "penCircle": 13,
    "dot1": 13,
    "dot2": 13,
    "dot3": 13,
    "dot4": 13,
    "straightLine1": 19,
    "straightLine2": 19,
    "square": 17,
    "curve1": 32,
    "curve2": 32,
  ),
  "logo": (
    /* "middle" : 295,
    "outer" : 432,
    "inner" : 150, */
  ),
);

@each $icon, $paths in $iconPaths {
  @each $pathName, $size in $paths {
    @include stroke-animation(#{$icon}__#{$pathName}, $size);
    $i: index(($paths), ($pathName $size));
    .#{$pathName} {
      animation: #{$icon}__#{$pathName} 3s ease #{0 + math.div($i - 1, 8)}s infinite alternate both;
      stroke-dasharray: $size;
    }
  }
}
