.section {
  svg {
    path,
    line {
      // "TECH &" animation
      $techDelay: 0;
      @for $i from 1 through 5 {
        &:nth-child(#{$i}) {
          animation: tech-and 6s #{$techDelay}ms ease-in-out infinite alternate both;
        }
        $techDelay: $techDelay + 50;
      }

      // "Creativity" animation
      $creatDelay: 0;
      @for $i from 6 through 17 {
        &:nth-child(#{$i}) {
          animation: creativity 6s #{$creatDelay}ms ease-in-out infinite alternate both;
        }
        $creatDelay: $creatDelay + 250;
      }
    }
  }
}

@keyframes creativity {
  0%,
  35% {
    stroke-dasharray: 0 100%;
    stroke-width: 0;
  }

  40% {
    stroke-width: 1.75;
  }

  65%,
  100% {
    stroke-dasharray: 100% 0;
    stroke-width: 1.75;
  }
}

@keyframes tech-and {
  0%, 15% {
    opacity: 0;
  }

  35%, 100% {
    opacity: 1;
  }
}

/* @keyframes asd {
  0%,
  15% {
    stroke-dasharray: 0 100%;
    stroke-width: 0;
  }

  30% {
    stroke-dasharray: 100% 0;
    stroke-width: 1;
  }

  70% {
    stroke-dasharray: 100% 0;
    stroke-width: 1;
  }

  85%,
  100% {
    stroke-dasharray: 100% 0;
    stroke-width: 0;
  }
} */
