svg .support-svg-elem-1 {
  stroke-dashoffset: 154.3735809326172px;
  stroke-dasharray: 154.3735809326172px;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s;
}
svg.active .support-svg-elem-1 {
  stroke-dashoffset: 308.7471618652344px;
}
svg .support-svg-elem-2 {
  stroke-dashoffset: 59.96958541870117px;
  stroke-dasharray: 59.96958541870117px;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s;
}
svg.active .support-svg-elem-2 {
  stroke-dashoffset: 119.93917083740234px;
}